<section class="hero col-12">
  <div class="text-container" style="z-index:1">
    <h1 class="editable" id="{{site.data.home.title | strip_html | slugify}}">{{site.data.home.title}}</h1>
    <p class="subtext editable">{{site.data.home.subtitle}}</p>
    <div class="cta button alt">
      {% if site.data.home.button_link %}
      <a class="try-it" href="{{site.data.home.button_link}}" target="_blank" rel="noopener">
        {{site.data.home.button_label}}
      </a>
      {% endif %}
    </div>
  </div>
  {% include wave.html %}
</section>

<div class="content col-12">
  <section class="why-rond-section">
    <div class="container flex">
      <div class="text editable">
        <h1 class="black-text centered" id="why-rond">
          <strong>Why Rönd?</strong>
        </h1>
        <ul class="why-rond">
          <li>Rönd is an <strong>authorization product design to protect your APIs with simple security policies</strong> executed in a distributed system;</li>
          <li>Rönd allows you to <strong>focus only on the policy</strong> you want to implement, avoiding writing endless lines of code;</li>
          <li>Rönd is an <strong>open-source software</strong> built on top of the <strong>best technologies</strong>.</li>
        </ul>
        <div class="youtube-size centered">
          <iframe src="https://www.youtube.com/embed/ubT31NtHV8w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content col-12">
  {% for card in site.data.home.cards %}
  <section>
    <div class="container flex">
      <div class="text editable">
        <h2 class="black-text" id="{{card.title | strip_html | slugify}}">{{card.title}}</h2>
        <p>{{card.subtitle}}</p>
        {% if card.cta_link %}
        <p>
          <a class="try-it" href="{{card.cta_link}}" target="_blank">> {{card.cta_text}}</a>
        </p>
        {% endif %}
      </div>
      <div class="image">
        <img
          src="{{card.image_file}}"
          alt="{{card.image_alt}}"
          class="screenshot editable"
          loading="lazy"
        />
      </div>
    </div>
  </section>
  {% endfor %}

  <section>
    <div class="container">
      <div class="col-12">
        <h2 class="black-text" id="{{site.data.home.carousel.intro | slugify}}">{{site.data.home.carousel.intro}}</h2>
      </div>
      <div class="carousel-container">
        {% for logo in site.data.home.carousel.card %}
        <a href="{{logo.image_link}}" target="_blank" rel="noopener">
          <div class="carousel-element">
              <img loading="lazy" src="{{logo.image_file}}" alt="{{logo.image_alt}}" />
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="bottom-cta">
    <h2 class="editable">{{site.data.home.cta_text}}</h2>
    <div class="button alt" id="footer-cta">
      <a class="try-it" href="{{site.data.home.link_cta}}" target="_blank" rel="noopener"> {{site.data.home.cta}} </a>
    </div>
    <div  id="footer-cta-secondary">
      <a class="try-it-secondary" href="{{site.data.home.link_cta_secondary}}" target="_blank" rel="noopener"> {{site.data.home.cta_secondary}} </a>
    </div>
  </section>
</div>
