<section class="hero col-12">
  <div class="text-container" style="z-index:1">
    <h1 class="editable">{{site.data.home.title}}</h1>
    <p class="subtext editable">{{site.data.home.subtitle}}</p>
    <div class="cta button alt">
      {% if site.data.home.button_link %}
      <a href="{{site.data.home.button_link}}"
        >{{site.data.home.button_label}}</a
      >
      {% endif %}
    </div>
  </div>
  {% include wave.html %}
</section>

<div class="content col-12">
  {% for card in site.data.home.cards %}
  <section>
    <div class="container flex">
      <div class="text editable">
        <h2 class="black-text">{{card.title}}</h2>
        <p>{{card.subtitle}}</p>
        {% if card.cta_link %}
        <p>
          <a href="{{card.cta_link}}" target="_blank">> {{card.cta_text}}</a>
        </p>
        {% endif %}
      </div>
      <div class="image">
        <img
          src="{{card.image_file}}"
          alt="{{card.image_alt}}"
          class="screenshot editable"
        />
      </div>
    </div>
  </section>
  {% endfor %}

  <section>
    <div class="container">
      <div class="col-12">
        <h2>{{site.data.home.carousel.intro}}:</h2>
      </div>
      <div class="carousel-container">
        {% for logo in site.data.home.carousel.card %}
          <div class="carousel-element">
              <img src="{{logo.image_file}}" alt="{{logo.image_alt}}" />
          </div>
        {% endfor %}
      </div>

    </div>
  </section>

  <section class="bottom-cta">
    <h2 class="editable">{{site.data.home.cta_text}}</h2>
    <div class="button alt">
      <a href="{{site.data.home.link_cta}}"> {{site.data.home.cta}} </a>
    </div>
  </section>
</div>
