---
layout: null
excluded_in_search: true
---


body,
html {
    margin: 0;
    padding: 0;
    background: #E1F1FE;
}

a {
    color: #523BE4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.try-it {
    font-weight: 700;
}

img {
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 1.8em;
    margin: 0 0 30px 0;
}

h3 {
    margin: 20px 0 10px 0;
}

p {
    font-size: 1.1em;
    color: #1E1E1E;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.38em;
}

@media (min-width:768px) {
    .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .flex .image,
    .flex .text {
        -webkit-flex: 1;
        flex: 1;
        padding: 0 20px;
    }
}

button {
    font-family: inherit;
    font-size: inherit;
}

.hero {
    color: #1E1E1E;
    text-align: center;
    background: #E1F1FE;
    padding-top: 100px;
}

.hero p {
    color: #FFFFFF;
}

.black-text {
    color: #000000;
}
.hero-logo {
    height: 150px;
    width: auto;
}

.container,
.text-container {
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    color: #FFFFFF;
}

.text-container {
    max-width: 750px;
}

.container {
    max-width: 1140px;
}

.rwd-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 30%;
    padding-top: 30px;
    position: relative;
}
.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 250px;
}

.why-rond-section {
    padding: 100px 0 0 0;
}

.why-rond {
    font-size: 1.2em;
    color: #1E1E1E;
    margin-top: 2rem;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.38em;
}

.why-rond li {
    padding: 20px;
}

section {
    padding: 80px 0;
}

section+section {
    padding-top: 0;
}

.subtext {
    margin-top: 20px;
    text-align: center;
}

.cta {
    margin: 60px 0;
}

.button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    background: #523BE4;
    border-radius: 3px;
    border: 1px solid #523BE4;
    transition: .2s ease-in-out;
}

.button a:hover {
    border: 1px solid #7258E9;
    background: #7258E9;
    cursor: pointer;
}

.button.alt a {
    background: #fff;
    border-radius: 45px;
    border: 2px solid #523be4;
    padding: 16px 50px;
    color: #523be4;
}

.button.alt a:hover {
    border: 2px solid #523BE4;
    background: #EDE7FC;
    cursor: pointer;
}

.screenshot {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 25px 0 0 0;
    /* box-shadow: 0 1px 0 #ccc, 0 1px 0 1px #eee;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #ddd url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2212%22%20viewBox%3D%220%200%2044%2012%22%3E%3Ccircle%20cx%3D%226%22%20cy%3D%226%22%20r%3D%224%22%20fill%3D%22%23eee%22%20%2F%3E%3Ccircle%20cx%3D%2222%22%20cy%3D%226%22%20r%3D%224%22%20fill%3D%22%23eee%22%20%2F%3E%3Ccircle%20cx%3D%2238%22%20cy%3D%226%22%20r%3D%224%22%20fill%3D%22%23eee%22%20%2F%3E%3C%2Fsvg%3E) 4px 4px no-repeat;
    padding: 20px 0 0 0;
    position: relative; */
}

.content {
    background: #fff;
    padding: 1px 0 0 0;
    position: relative;
}

.content section:nth-child(even) .flex {
    flex-direction: row-reverse;
}

.bottom-cta {
    background: #E1F1FE;
    color: #1E1E1E;
    text-align: center;
    margin: 0;
    padding: 100px 0;
}

.bottom-cta h2 {
    margin-bottom: 50px;
}

.carousel-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.carousel-element {
    padding: 10px;
}

.carousel-element img{
    max-width: 210px;
    max-height: 80px;
}
